html,
body {
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 24px;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  font-family: "Spectral", serif;
  padding: 20px;
  background: #0a6c47;
  color: white;
  transition: transform 0.5s ease, background-color 0.5s ease;
}

body.isNavigating {
  transform: translate(-100%, 0);
  background-color: var(--destColor);
}

main {
  max-width: 600px;
  align-self: center;
}

p,
h1,
h2,
main > * {
  margin-block: 20px;
}

h1,
h2 {
  font-family: "Germania One", serif;
  text-align: center;
}

h1 {
  font-size: min(160px, 20vw);
  margin-bottom: -30px;
  position: relative;
}

h2 {
  font-size: min(50px, 6.3vw);
}

footer {
  text-align: center;
  font-size: 100px;
}

footer > span {
  margin-bottom: -40px;
}

footer > span:first-child {
  display: inline-block;
  transform: rotate(-10deg);
}

.rotate {
  display: inline-block;
  transform: scale(-1, 1);
}

footer > span:last-child {
  display: inline-block;
  transform: scale(-1, 1) rotate(-10deg);
}

@keyframes star {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(var(--max-size));
  }
}

.particle {
  animation: var(--lifetime) linear forwards star;
  top: var(--y);
  left: var(--x);
  position: absolute;
  color: gold;
  text-shadow: 1px 1px 3px #ffbb0090;
  font-size: 32px;
}

aside {
  max-width: 100px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

img {
  width: 100%;
  max-width: 100px;
  transition: all 0.3s ease-in-out;
}

.shadow {
  filter: drop-shadow(3px 0 0 white) drop-shadow(0 3px 0 white)
    drop-shadow(-3px 0 0 white) drop-shadow(0 -3px 0 white)
    drop-shadow(0 0 6px #00000070);
  padding: 10px;
}

.otherShadow {
  padding: 10px;
  filter: drop-shadow(0 0 6px #00000070);
}

.otherOtherShadow {
  filter: drop-shadow(0 0 6px #00000070);
}

@media screen and (max-width: 1100px) {
  aside:nth-of-type(1) {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  aside {
    display: none;
  }
}

a {
  color: gold;
  text-decoration: none;
}

ul {
  padding-inline-start: 0;
}

ul img {
  width: 100px;
  height: 100px;
}

ul h3 {
  font-family: "Germania One", serif;
  margin-block: 0;
}

ul p {
  margin-block: 0;
}

ul > li {
  margin-block: 20px;
  gap: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
